.mixin.out/
bg/
crash-reports/
debug/
dynmap/
emotes/
fancymenu_data/
fancymenu_setups/
globalresources/
journeymap/
local/
logs/
mod_data/
modernfix/
modernlife/
mods/
patchouli_books/
resources/
saves/
schematics/
screenshots/
scripts/
server/
waterframes_cache/
XaeroWorldMap/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
.curseclient
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json